.fixed.use{
    background:var(--primary-light)
}
.head{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}
.hero{
    min-height:200px;
    background:rgba(0,0,0,0.8);
    color:white;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    text-align:center;
    align-items: center;
    justify-content: center;
    position:relative;
    word-break: normal;
    width:100%;
    


}
.hero .before{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
   z-index:-10;


}
.hero strong{
    font-size:1.5rem;
    font-family:'cinzel decorative'
}
.container{
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
    color:white;
}
.ref-link{
    width:100%;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
    overflow:hidden;
    padding-left:10px;
    

}
label[for=photo]{
    background-size:cover;
    /* background-position:center; */
    min-height:200px;
    
}
label[for=photo].active *{
    display:none;
}
.ref-link span{
    padding:10px 10px 10px 0;
    white-space: nowrap;
    overflow:auto;
    width:100%;
}
.copy-icon{
    padding:10px;
    background:purple;
}
.btn{
    border:none;
    background:#4caf50;
    color:white;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    padding:10px;
    font-family:poppins;
    border-radius:10px;
    width:100%;
    max-width:500px;
    user-select:none;
    cursor:pointer;
    clip-path:inset(0 round 10px);
    max-width:300px;
}
.btn svg{
    height:1rem;
    width:1rem;
    font-size:1rem;
}
.num{
    min-height:30px;
  min-width:30px;
   max-height:30px;
  max-width:30px;
    background:#ffd700;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-weight:900;
    border-radius:50%;
    margin-bottom:auto;
    
}
@media(min-width:800px){

}