header{
    position:fixed;
    top:0;
    left:0;
    background:navy;
    right:0;
    padding:10px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    z-index:var(--z-index-high);
}
header .menu{
    padding:5px 10px;
    background:white;
    border-radius:5px;
    width:fit-content;
    position:relative;

}
.menu svg{
    font-size:1.5rem;
    height:1.5rem;
    width:1.5rem;
}
header .menu::before{
    content: '';
    position:absolute;
    top:10%;
    left:10%;
    height:40%;
    background:navy;
    border-radius:50%;
    aspect-ratio:1;
    filter:blur(7px);
}
header .menu::after{
    content: '';
    position:absolute;
    bottom:10%;
   right:10%;
    height:20%;
    background:navy;
    border-radius:50%;
    aspect-ratio:1;
    filter:blur(7px);
}
header .notifications{
    background:white;
     height:40px;
     width:40px;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-right:10px;
}
header .notifications svg{
    height:1.2rem;
    width:1.2rem;
    font-size:1.2rem;
}

header .notifications b{
    position:absolute;
    right:0;
    top:0;
    transform:translateX(50%) translateY(-50%);
    background:red;
    color:white;
    font-size:0.5rem;
    padding:2px;
    border-radius: 1000px;
}
header img{
    height:50px;
}
nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.2);
    z-index:var(--z-index-high);
    backdrop-filter: blur(4px);
    display:none;
    flex-direction:row;
    user-select: none;
    

}
nav .child{
    min-width:70%;
    max-width:70%;
    height:100%;
    background:rgb(1, 1, 41);
    display:flex;
    flex-direction:column;
    overflow:auto;
    transform: translateX(-100%);

}
nav.active{
    display:flex;
}
nav.active .child{
    animation:trans-in-from-left 0.5s linear forwards;
}
@keyframes trans-in-from-left{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
nav .child .profile{
    min-width:100%;
     max-width:100%;
   aspect-ratio:1/0.5;
   background-size:cover;
   background-position:center;
   padding:10px;
   display:flex;
   flex-direction:column;
   gap:10px;
   user-select:none;
}
.photo{
    min-height:70px;
    min-width:70px;
    max-height:70px;
    max-width:70px;
    border-radius:50%;
    background:white;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    padding:5px;
}
.photo span{
    height:60px;
    width:60px;
    background-size:cover;
    background-position:center;
    display:flex;
    border-radius:50%;
}
nav .child .links{
    width:100%;
 
   display:flex;
   flex-direction:column;
    flex:1 0 auto; 
   
}
nav .child .links a{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    text-decoration:none;
    color:white;
    padding:10px;
}
nav a[href]:hover{
    background:white;
    color:navy;
}
nav a[href]:hover svg{
   
   fill:navy;
}
svg{
    height:auto;
    width:auto;
    font-size:auto;
    transition:all 0.5s ease;
}
nav .child .links .expand{
    width:100%;
    display:flex;
    flex-direction:column;
    
}
.group{
    width:calc(100% - 10px);
    display:flex;
    flex-direction:column;
    border-left:4px solid navy;
    background:rgba(255,255,255,0.2);
    margin-left:10px;
    display:none;


}
nav .child .links .expand.active .group{
    display:flex;
}
nav .child .links .expand.active a svg:last-of-type{
   transform:rotate(90deg)
}
.logout{
    
    margin-top:auto;
    align-self: end;
}
footer{
    background:navy;
    color:white;
    padding:10px;
    word-break: normal;
    width:100%;
    
}
footer .row{
    gap:10px;
    
}
footer a{
    color:aqua;
}
main{
    background:whitesmoke;
}
/* COMPONENTS */

.section.use{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
    padding:10px;
}
.grid-full{
    grid-column:1/-1;
}
.card.use{
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
    width:100%;
    background:white;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);

}
.svg.use{
    padding:5px;
    aspect-ratio:1;
    background:#4caf50;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:10px;
   height:50px;
   width:50px;



} 
.form.use{
    width:100%;
    display: flex;
    flex-direction:column;
    padding:10px;
    gap:10px;
    background:white;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    border-radius:10px;
}
.cont.use{
    height:50px;
    width:100%;
    border:1px solid silver;
    display:flex;
    flex-direction:row;
    align-items:center;
    border-radius:5px;
    overflow:hidden;
}
.cont.use svg{
    margin:10px;
    height:20px;
    width:20px;
    font-size:20px;
}
.cont.use .inp{
    width:100%;
    height:100%;
    font-family:poppins;
    border:none;
    padding:10px;

}
.desc.use{
    color:navy;
    font-size:1rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
}
button.post{
    background:rgb(1,1,41);
}
.cont.active{
    animation:shake 0.3s linear ;
}
.cont:hover{
    border-color:#4caf50;
}
@keyframes shake{
    0%,100%{
        transform:translateX(0);
        border:1px solid red;
    }
    50%{
        transform:translateX(5px);
       border:1px solid red;
    }
    25%,75%{
        transform:translateX(-5px);
         border:1px solid red;
    }
}
.light.use{
    font-size:0.7rem;
    
}
.paginate{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:10px;
    padding:10px;
}
.paginate a{
    padding:10px;
    text-decoration:none;
    font-weight:900;
    background:navy;
    color:white;
    height:50px;
    min-width:50px;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    clip-path:inset(0 round 10px);
    font-family:'cinzel decorative'

}
.paginate a.disabled{
  
    filter:invert(30%);
    pointer-events: none;
}
.paginate a:nth-of-type(2){
    background:white;
    border:1px solid navy;
    color:navy;
}
.popup{ 
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    z-index:var(--z-index-high);
    display:none;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}
.popup .child{
    background:white;
    width:90%;
    max-width:500px;
    padding:10px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    text-align:center;
    transform:scale(0.9);
    opacity:0;
    word-break:normal;

}
.popup.active{
    display:flex;
}
.popup.active .child{
    animation:scale-in 0.5s linear forwards;
}
.search{
    position:relative;

}
.search .suggestions{
    position:absolute;
    top:calc(100% - 10px);
    left:0;
    z-index:500;
    right:0;
    
    background:white;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    color:#708090;
    border-radius: 0 0 10px 10px;
    
}
.suggestions a{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    gap:5px;
    text-decoration:none;
    color:#708090;
    padding:10px;
    border-bottom:0.1px solid #708090;
    font-size:0.7rem;
}
.suggestions a svg{
    height:0.7rem;
    width:0.7rem;
    font-size:0.7rem;
}
.suggestions a:last-of-type{
    border-bottom:none;
}
@keyframes scale-in{
    0%{
        transform:scale(0.9);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
.toggle{
    width:100px;
    height:30px;
    background:#708090;
    border-radius:1000px;
    padding:5px;
}
.toggle .child{
    height:100%;
    aspect-ratio:1;
    background:white;
    border-radius:50%;
    
    transition:all 0.5s ease;
}
.toggle.active{
    background:#4caf50;
}
.toggle.active .child{
  transform:translateX(35px)
}
/* COMPONENTS */
@media(min-width:800px){
    nav{
        right:70%;
        display:flex;
    }
    nav .child{
        transform:translateX(0);
        min-width:100%;
    max-width:100%;
    }
    main{
        margin-left:30%;
        width:calc(100% - 30%);
       
    }
    footer{
        margin-left:30%;
  width:calc(100% - 30%);
    }
    section.grid2.use{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        place-items:center;
        gap:10px;
    }


}