body{
    overflow:hidden;
}
main{
    background:linear-gradient(to top right,#4caf50,rgb(39, 39, 65),coral);
    background-size:200% 200%;
    animation:move 7s ease infinite;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
@keyframes move{
    0%,100%{
        background-position:0 50%;
    }
   50%{
        background-position:100% 50%;
    }
}
.bubbles{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;

}
.bubbles span{
    background:rgba(255,255,255,0.1);
    border-radius:50%;
    display:flex;
    height:50px;
    width:50px;
    position:absolute;
    animation:float 5s ease infinite;
    opacity: 0;
}
.bubbles span:nth-of-type(1){
    top:10%;
    left:10%;
    height:30px;
    width:30px;
    animation-delay: 0.5s;
    
}
.bubbles span:nth-of-type(2){
    top:40%;
    left:70%;
    animation-delay:1s;
   
    
}
.bubbles span:nth-of-type(3){
   bottom:5%;
    left:5%;
    height:100px;
    width:100px;
    animation-delay:1.5s;
    
}
.bubbles span:nth-of-type(4){
    top:70%;
   right:5%;
    height:40px;
    width:40px;
    animation-delay: 2s;
    
}
.bubbles span:nth-of-type(5){
    top:50%;
    left:7%;
    height:40px;
    width:40px;
    animation-delay: 2.5s;
    
}
.bubbles span:nth-of-type(6){
    top:5%;
    right:10%;
    height:30px;
    width:30px;
    animation-delay: 3s;
    
}
@keyframes float{
    0%,100%{
        transform:translateY(0);
        opacity:0;
    }
    50%{
        transform:translateY(30px);
        opacity:1;
    }
}
.section1{
    display:flex;
    flex-direction:column;
    padding:10px;
    background:rgba(255,255,255,0.5);
    width:90%;
    max-width:500px;
    border-radius:10px;
    position:relative;
    z-index:10;
    border:1px solid white;
    align-items:center;
    user-select:none;

}
.section1 h4{
    font-size:1rem;
    font-family:'cinzel decorative';
    color:#ffd700;
    font-weight:900;
}
.cont{
    width:100%;
    border:none;
    background:rgba(255,255,255,0.5);
    display:flex;
    flex-direction:row;
    align-items:center;
    border-radius:5px;
    overflow:hidden;
    height:50px;
}
.inp{
    height:100%;
    width:100%;
    font-family:poppins;
    background:transparent;
    border:none;
    caret-color: var(--primary-light);
}
.cont svg{
    height:1.5rem;
    width: 1.5;
    font-size:1.5rem;
    margin:0 10px;
    fill:var(--primary-light)
}
form{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px;
}
button.post{
    background:#ffd700;
    color:black;
    border-radius:10px;
    clip-path:inset(0 round 10px);
    margin:10px 0;

}
.cont.active{
    animation:shake 0.3s linear ;
}
@keyframes shake{
    0%,100%{
        transform:translateX(0);
        border:1px solid red;
    }
    50%{
        transform:translateX(5px);
       border:1px solid red;
    }
    25%,75%{
        transform:translateX(-5px);
         border:1px solid red;
    }
}